<p>Leaderboard table will go here.</p>
<table>
    <tr id="tblHead">
        <th>Player Name</th>
        <th>Score</th>
    </tr>
    </tr>
        <tr>
        <td>Yang Xiao Long</td>
        <td>5,715,000</td>
    </tr>
    <tr>
        <td>Sam Smith</td>
        <td>4,455,000</td>
    </tr>
    <tr>
        <td>Jonny Mavric</td>
        <td>3,415,000</td>
    </tr>
    <tr>
        <td>Adric VonPlatz</td>
        <td>1,415,000</td>
    <tr>
        <td>Millo Greenbottle</td>
        <td>4</td>
    </tr>
</table>