<p>Leaderboard table will go here.</p>

<table>
    <tr id="tblHead">
        <th>Player Name</th>
        <th>Score</th>
    </tr>
    <% @leaderboard.each do |lb| %>
    </tr>
        <tr>
        <td><%=  lb.name %></td>
        <td><%=  lb.name %></td>
    </tr>
    <% end %>
</table>
