<p>Leaderboard table will go here.</p>

<table>
    <tr id="tblHead">
        <th>Image</th>
        <th>Email</th>
        <th>Player Name</th>
        <th>Score</th>
    </tr>
    <% @scores2.each do |score| %>    
      <tr>
        <td><%= image_tag(score.image, :size => "50x50") %></td>
        <td><%= score.email %></td>
        <td><%= score.name %></td>
        <td><%= score.score %></td>
      </tr>
    <% end %>
</table>