

<p>The game window will go on this page</p>

<!-- This div will be where the game window will go -->
<div id="gamecontainer">

     <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script src="<%= asset_path('Asteroids.js.erb') %>"></script>  

</div>
