
<p>Landing Page Content will go here. You should only see this if you aren't logged in.</p>



<table>
    <tr id="tblHead">
        <th>Image</th>
        <th>Player Name</th>
        <th>Score</th>

    </tr>
    <% @scores2.each do |score| %>
      <tr>
        <td><%= image_tag(score.image, :size => "50x50") %></td>
        <td><%= score.name %></td>
        <td><%= score.score %></td>

      </tr>
    <% end %>
</table>