/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	border: 0 none;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline-style: none;
}

body{
    position: relative;
    /*background-color: #000;*/
    background: url(space.png), url(tenor.gif);
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Audiowide';
    min-height: 15.5rem;
    text-align: center;
}

#gametitle{
    background-color: rgba(75,75,75,.25);
    width:90%;
    margin: 0 auto;
    padding: .5rem 0;
    min-height: 42rem;
}

header{
    margin-top:1rem;
    font-size: 1.8rem;
}

nav {
    margin: 0 auto;
    width: 80%;
    font-weight: 700;
    text-transform: uppercase;
    bottom: 4rem;
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    padding: 0;
    margin: 0 .5rem 0 0;
    background-color: #888;
    border: 1px solid #222;
    float: left;
    font-size: .85rem;
    width:25%;
    text-align: center;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

#signout{
    clear:both;
}

#signout{
    margin:1rem;
    position: absolute;
    top:0;
    right:2rem;
    font-size: 0.8rem;
}

#signout span{
    margin-left: .5rem;
    padding: 0;
    background-color: #888;
    border: 1px solid #222;
    width:25%;
    text-align: center;
}

#signout span a{
    color: white;
    text-align: center;
    padding: 0 6px;
    text-decoration: none;
}

#signout span a:hover:not(.active) {
    background-color: #111;
}

#wrapper{
    margin-bottom: 1rem;
}

#wrapper p{
    clear:both;
    padding-top: 1rem;
}

canvas{
    max-width: 99%;
    margin: 1rem auto;
}

footer{
    position: absolute;
    bottom: 0;
    margin: 0;
}
