#gametitle{
  background-color: #fff;
  margin: 0 auto;
  text-align: center;

  @media only screen and (min-width: 960px){
    width: 960px;
  }

  @media only screen and (max-width: 960px -1){
    width: 90%
  }
}

.content, header, footer{
  padding:1%;
}

footer{
  text-align: center;
}

#mainnav{
  background-color: #ccc;
  text-align: left;
}
#mainnav > a{
    color: inherit;
    padding: 1%;
    text-decoration: none;
}
#mainnav a:hover, a:focus{
      color: #999;
    }

  div.field, div.actions {
    margin-bottom: 10px;
  }
