

body{
  background-color: #ddd;
  color: #333;
}

#gametitle{
  background-color: #fff;
  margin: 0 auto;
  text-align: center;

  @media only screen and (min-width: 960px){
    width: 960px;
  }

  @media only screen and (max-width: 960px -1){
    width: 90%
  }
}

#inner::before{
  position: relative;
  content: '';
  background-color: rgba(91, 41, 113, .5);
  width: 960px;
  height: 600px;


}

.content, header, footer{
  padding:1%;
}

footer{
  text-align: center;
}

#mainnav{
  background-color: #ccc;
  text-align: left;
}
#mainnav > a{
    color: inherit;
    padding: 1%;
    text-decoration: none;
}
#mainnav a:hover, a:focus{
      color: #999;
    }


#signout{
  float: right;
}


  div.field, div.actions {
    margin-bottom: 10px;
  }
